# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
venv/
env/

# Dataset files (zip, csv) - if you want to exclude heavy files
*.zip
*.csv

# MacOS files
.DS_Store

# Python cache files
*.pyc
